<p class="margin-bottom-105 font-sans-md text-light line-height-sans-3  display-none"><strong>SEO Preview</strong> — How this page will likely look in Google</p>
<style media="screen">
  .seo-preview{font-family: arial, sans-serif;}
  .seo-preview h3{color: #1a0dab;}
  .seo-preview .url{color: #006621;}
  .seo-preview .summary{color: #545454;}
</style>
<section class="seo-preview bg-white margin-0 margin-bottom-5 padding-2 display-none">
  <h3 class="margin-0 text-normal">Come say Hi! — Digital.gov</h3>
  <p class="url line-height-sans-3 margin-0 margin-bottom-2px text-normal font-sans-xs">https://digital.gov/hi</p>
  <p class="summary margin-0 text-normal font-sans-2xs line-height-sans-2">Hi. We are helping the government community make digital better. Come and learn more about...</p>
</section>
