<p class="margin-bottom-105 font-sans-md text-light line-height-sans-3 display-none"><strong>Spotlight Preview</strong> — How this page will likely look in Spotlight</p>
<article class="bg-base-lighter radius-sm margin-0 margin-bottom-5 padding-2 display-none">
  <p class="font-sans-md">Federal agencies and technology teams work together to pilot digital tools for artificial intelligence and health innovation.</p>
  <div class="flex-row display-flex flex-align-end flex-justify">
    <p class=""><a class="text-no-underline text-ink visited:text-ink" href="" title="Digital.gov"><img class="width-2 margin-right-05 position-relative top-2px" src="https://demo.digital.gov/img/digit-16.png" alt="Digital.gov Logo">Digital.gov</a>
      <em class="clicks text-accent-warm-dark font-sans-2xs margin-x-1"><i class="fas fa-bolt"></i> <span>99</span> views</em>
    </p>
    <div class="topics">
      <a class="text-primary-darker display-inline-block margin-x-2px text-no-underline bg-primary-light font-sans-3xs padding-y-2px padding-x-1 radius-pill" href="/topics/design/" data-topic="design">Design</a><a class="text-primary-darker display-inline-block margin-x-2px text-no-underline bg-primary-light font-sans-3xs padding-y-2px padding-x-1 radius-pill" href="/topics/open-data/" data-topic="open-data">Open Data</a>
    </div>
  </div>
  <a href="/2018/11/02/health-tech-sprint-aims-at-improving-care-access-experience/" title="Health Tech Sprint Aims at Improving Care Access and Experience"><span></span></a>
</article>
