
code{
  @include u-padding-x('05');
  @include u-padding-y('2px');
  @include u-bg('white');
  @include u-border('1px','solid','base-lighter');
  @include u-radius('md');
}

.emoji{
  @include u-position('relative');
  @include u-top('05');
}


.note{
  p{
    @include u-margin-y(0);
  }
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
