<nav role="navigation" class="padding-y-1">
  <ul class="add-list-reset">
    {% for item in site.data.docs-nav.navigation %}
    {% assign current = "" %}
    {% if page.url == item.url %}
    {% assign current = "current" %}
    {% endif %}
    <li class="padding-y-05 ">
      <a class="{{ text_color }} font-sans-sm text-bold text-no-underline {{ current }} {{ text-color }}" href="{{ site.baseurl }}{{ item.url }}">
        <span>{{ item.text }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>