<nav role="navigation" class="padding-y-1 padding-x-105">
  <button class="usa-nav-close"><img src="/assets/img/close.svg" alt="close"></button>
  <ul class="add-list-reset">
    {% for item in site.data.docs-nav.navigation %}
      {% assign current = "" %}
      {% if page.url == item.url %}
        {% assign current = "current" %}
      {% endif %}
      <li class="padding-y-05 ">
        <a class="font-sans-xs text-bold text-no-underline {{ current }}" href="{{ site.baseurl }}{{ item.url }}">
          <span>{{ item.text }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
