{% include analytics.html %}

<!-- scripts -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/uswds.min.js"></script>
{% if page.api %}
<script src="{{ site.baseurl }}/assets/other/get_pages.js"></script>
{% endif %}
{% if page.url == '/content-types/' %}
<script src="{{ site.baseurl }}/assets/other/get_content-types.js"></script>
{% endif %}
{% if page.url == '/edit-topics/' %}
<script src="{{ site.baseurl }}/assets/other/get_topics.js"></script>
<script src="{{ site.baseurl }}/assets/other/select2.min.js"></script>
<script src="{{ site.baseurl }}/assets/other/clipboard.min.js"></script>
{% endif %}
{% if page.url contains '/new/' %}
<script src="{{ site.baseurl }}/assets/other/new.js"></script>
{% endif %}
