{% include analytics.html %}

<!-- scripts -->
<script src="{{ site.baseurl }}/assets/js/dist/jquery-3.3.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/dist/uswds.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/get_sources_data.js"></script>
<script src="{{ site.baseurl }}/assets/js/get_topics_data.js"></script>
<script src="{{ site.baseurl }}/assets/js/get_authors_data.js"></script>
<script src="{{ site.baseurl }}/assets/js/get_page_data.js"></script>
<script src="{{ site.baseurl }}/assets/js/get_card.js"></script>
<script src="{{ site.baseurl }}/assets/js/get_card_list.js"></script>

{% if page.url == '/' %}
<!--<script src="{{ site.baseurl }}/assets/other/get_commits.js"></script>-->
{% endif %}

<script src="{{ site.baseurl }}/assets/js/dist/select2.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/dist/clipboard.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/dist/base.js"></script>

{% if page.url contains '/edit/' %}
<script src="{{ site.baseurl }}/assets/js/edit_page_data.js"></script>
{% endif %}

{% if page.url contains '/new/' %}
<script src="{{ site.baseurl }}/assets/js/new_page_data.js"></script>
{% endif %}

{% if page.url contains '/new/newsletter/' %}
<script src="{{ site.baseurl }}/assets/js/get_newsletter_list.js"></script>
{% endif %}
