{% include gov-banner.html %}

<header class="padding-y-3">
  <div class="grid-container">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">
        <h1 class="usa-logo-text">
          <a class="text-no-underline text-bold font-sans-xl text-black visited:text-black" href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="{{ site.title }}">
            <img class="width-4 margin-right-1 position-relative top-05
" src="{{ site.baseurl }}/assets/img/digit-150.png" alt="{{ site.title }}">{{ site.title }}
          </a>
        </h1>
        <h2 class="text-left text-light font-sans-lg">An experiment in managing our content in the open.</h2>
      </div>
    </div>
  </div>
</header>
