{% include gov-banner.html %}

<header class="margin-bottom-3 padding-top-205 padding-bottom-3 bg-primary-darker">
  <div class="grid-container">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">
        <h1 class="margin-y-0 text-bold font-sans-xl">
          <a class="text-no-underline text-white visited:text-white" href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="{{ site.title }}">
            <img class="width-3 margin-right-1 position-relative top-05
" src="{{ site.baseurl }}/assets/img/digit-50-white.png" alt="{{ site.title }}">{{ site.title }}
          </a>
        </h1>
        <h2 class="margin-y-0 padding-left-4 text-left text-white text-light font-sans-md">We're managing our content in the open.</h2>
      </div>
    </div>
  </div>
</header>
