{% include gov-banner.html %}

<header class="padding-y-2 border-bottom border-base-light">
  <div class="grid-container">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">
        <a class="margin-y-0 font-sans-lg text-no-underline text-black text-normal visited:text-white" href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="{{ site.title }}">
          <img class="width-card margin-right-1 position-relative top-05
" src="{{ site.baseurl }}/assets/img/digitalgov-logo-black.svg" alt="{{ site.title }}"><span class="text-accent-cool-darker">| Workflow</span>
        </a>
        <h2 class="margin-y-0 padding-left-5 text-left text-white text-light font-sans-md display-none">We're managing our content in the open.</h2>
      </div>
    </div>
  </div>
</header>
