<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/select2.min.css?{{ site.time | date: "%Y%m%j%H%M%S" }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/other/bot.png" />

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  {% if page.title %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title | xml_escape }}" />
  {% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title | xml_escape }}" />
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{ page.description | xml_escape }}">
    <meta property="og:description" content="{{ page.description | xml_escape }}" />
  {% else %}
    <meta name="description" content="{{ site.description | xml_escape }}">
    <meta property="og:description" content="{{ site.description | xml_escape }}" />
  {% endif %}

  <!-- GitHub -->
  <script type="text/javascript">
    source_of_truth              = "{{ site.source_of_truth }}";
    github_org                   = "{{ site.github_org }}";
    github_repo                  = "{{ site.github_repo }}";
    filepath                     = "{{ page.path }}";
    filepathURL                  = "https://github.com/{{ site.git_org }}/{{ site.git_repo }}/edit/master/{{ page.path }}";
    commit_api                   = "https://api.github.com/repos/{{ site.github_org }}/{{ site.github_repo }}/commits?path=/{{ page.path }}";
    issues_api                   = "https://api.github.com/repos/{{ site.github_org }}/{{ site.github_repo }}/issues?labels=bug&per_page=100";
    workflow_org                 = "{{ site.workflow_org }}";
    workflow_repo                = "{{ site.workflow_repo }}";
    workflow_issues_api          = "https://api.github.com/repos/{{ site.workflow_org }}/{{ site.workflow_repo }}/issues";
    content_types                = {{ site.content_types | jsonify }};
  </script>

</head>
