<nav role="navigation" class="margin-y-105 bg-base-lightest radius-sm padding-y-105 padding-x-2">
  <ul class="add-list-reset">
    {% for item in site.content_types %}
      {% if forloop.last == false and forloop.first == false %}
        {% assign border = "border-top border-base-light" %}
      {% endif %}
      <li class="{{ border }} padding-y-1">
        <span class="font-sans-3xs display-block text-no-underline text-medium text-black text-uppercase visited:text-black {{ current }}">{{ item.title }}</span>
        <ul class="add-list-reset padding-left-105">
          <li class="padding-y-2px font-sans-2xs"><a class="text-no-underline text-primary visited:text-black {{ current }}" href="{{ site.baseurl }}/new/{{ item.id }}">New</a></li>
          <li class="padding-y-2px font-sans-2xs"><a class="text-no-underline text-primary visited:text-black {{ current }}" href="{{ site.baseurl }}/edit/{{ item.id }}">Edit</a></li>
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>
