<form autocomplete="off" id="event" class="margin-y-05 bg-base-lighter padding-y-2px padding-x-3" accept-charset="utf-8" data-content_type="{{ page.content_type }}" data-base_field="title">

  <div id="card_display">

    <h3>Where will the event page be hosted?</h3>

    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">Event types</legend>
      <div class="usa-radio">
        <input class="usa-radio__input" id="card_display_dg" type="radio" name="card_display" value="card_display_dg" checked>
        <label class="usa-radio__label" for="card_display_dg">This event will be hosted on Digital.gov</label>
      </div>
      <div class="usa-radio">
        <input class="usa-radio__input" id="card_display_elsewhere" name="card_display" type="radio" value="card_display_elsewhere">
        <label class="usa-radio__label" for="card_display_elsewhere">This event will be hosted another website</label>
      </div>
    </fieldset>
  </div>

  {% for niche in site.data.content_types.events %}
    {% for block in niche.blocks %}

      {% if block.type %}
        {% include blocks/{{ block.type }}.html name=block.name id=block.id text=block.txt type=block.type data_type=block.data_type value=block.value comment=block.comment %}
      {% endif %}

    {% endfor %}
  {% endfor %}


</form>
