<form autocomplete="off" id="post" class="margin-y-05 bg-base-lighter padding-y-2px padding-x-3" accept-charset="utf-8">


  <h3>What type of a blog post will this be?</h3>

  <div id="card_display">
    <fieldset class="usa-fieldset">
      <legend class="usa-sr-only">Blog post types</legend>
      <div class="usa-radio">
        <input class="usa-radio__input" id="card_display_dg" type="radio" name="card_display" value="card_display_dg">
        <label class="usa-radio__label" for="card_display_dg">This post will live on Digital.gov</label>
      </div>
      <div class="usa-radio">
        <input class="usa-radio__input" id="card_display_elsewhere" name="card_display" type="radio" value="card_display_elsewhere" checked>
        <label class="usa-radio__label" for="card_display_elsewhere">This post lives on a separate website/URL</label>
      </div>
    </fieldset>
  </div>

  {% for niche in site.data.content_types.blog_post %}
    {% for block in niche.blocks %}

      {% if block.type %}
        {% include blocks/{{ block.type }}.html name=block.name id=block.id text=block.txt type=block.type data_type=block.data_type %}
      {% endif %}

    {% endfor %}
  {% endfor %}

</form>
