<form autocomplete="off" id="author" class="margin-y-05 bg-base-lighter padding-y-2px padding-x-3" accept-charset="utf-8" data-content_type="authors" data-base_field="display_name">


  <h3>Create a new author</h3>

  {% for niche in site.data.content_types.authors %}
    {% for block in niche.blocks %}

      {% if block.type %}
        {% include blocks/{{ block.type }}.html name=block.name id=block.id text=block.txt type=block.type data_type=block.data_type comment=block.comment %}
      {% endif %}

    {% endfor %}
  {% endfor %}

</form>
