<p style="text-align: left; font-size: 20px; line-height: 1.15;"><strong style="color: #000000;">Upcoming Training and Events:</strong></p>
<p style="color: #666666;font-size: 16px;">Free online and in-person trainings and events for people and teams across the federal government, from <a href="https://digital.gov/digitalgov-university/" rel="noopener">DigitalGov University</a> (DGU).</p>
<div>
  <a href="https://www.digital.gov/events/" rel=" noopener" style="font-family: helvetica;color: #3574e3;font-size: 16px;">All Upcoming Events</a>
  <span style="font-family: helvetica;color: #3574e3;font-size: 16px;">&nbsp;|&nbsp;</span>
  <a href="https://www.youtube.com/c/DigitalGov" rel=" noopener" style="font-family: helvetica;color: #3574e3;font-size: 16px;">Past Events</a>
</div>
<div style="text-align: left; font-size: 14px;">&nbsp;</div>
<div style="text-align: left; font-size: 14px;">
  <span style="background-color: transparent; color: #000000; font-family: helvetica; font-size: 20px;">-------------</span>
</div>
<div style="text-align: left;">
  <a href="https://digital.gov/event/2019/10/15/using-neural-machine-translation-for-multilingual-communication/" rel=" noopener" style="font-size: 20px;color: #3574e3;"><strong>Using Neural Machine Translation for Multilingual Communication</strong></a>
</div>
<div style="text-align: left;">
  <strong style="font-size: 16px;color: #000000;">📆 Tuesday, October 15, 2019 <br/> 11:00 am – 12:00 pm, ET</strong>
</div>
<div style="text-align: left;">
  <p style="color: #000000; font-size: 16px;">A new type of Artificial Intelligence (AI) technology, called Neural Machine Translation (NMT), is quickly earning the attention of multilingual communities. This software is helping to expedite the translation process and has the potential to open government information to more non-English languages. [<a href="https://digital.gov/event/2019/10/15/using-neural-machine-translation-for-multilingual-communication/" rel=" noopener" style="color: #3574e3;"><strong>Register</strong></a>]</p>
</div>
