<h3>{{ site.data.[page.api].count }}</h3>
{% for item in site.data.[page.api].items %}

<div class="card">
  <div class="entry">
    <div class="entry-content">
      <h4><a href="https://digital.gov{{ item.url }}">{{ item.title }}</a></h4>
      <p class="summary">{{ item.summary }}</p>
    </div>
    <div class="entry-tools">
      <a href="{{ item.editpathURL }}" class="btn" target="_blank">edit</a>
      {% assign filepath = item.url | url_encode %}
      {% assign editpath = 'https://digital.gov' | append: filepath %}
      <a href="{{ site.baseurl }}{{ '/edit/?page=' | absURL }}{{ editpath }}" class="btn" target="_blank">details</a>
    </div>
  </div>

  <div class="entry-taxonomy">
    {% for cat in item.categories %}
    <a class="cat-taxonomy taxonomy" href="#" data-slug="{{ cat[0] }}">{{ cat[1] }}</a>
    {% endfor %}
    {% for tag in item.tags %}
    <a class="tag-taxonomy taxonomy" href="#" data-slug="{{ tag[0] }}">{{ tag[1] }}</a>
    {% endfor %}
  </div>
</div>
{% endfor %}
