{% for item in site.data.posts.items %}

{{/* If the month var exists (like from a previous iteration of the for loop) */}}
{% if month %}
  {{/* set 'postmonth' to the month of the current post */}}
  {% assign postmonth = item.date_published | date: '%B' %}
  {{/* if 'postmonth' and 'month' are not equal, print the month */}}
  {% if (postmonth != month) %}
    <h3>{{ postmonth }} {{ item.date_published | date: '%Y' }}</h3>
  {% endif %}
{{/* this is likely the first iteration of the for loop, so print the month */}}
{% else %}
  <h3>{{ item.date_published | date: '%B %Y' }}</h3>
{% endif %}
{{/* set the month var for the next iteration of the loop */}}
{% assign month = item.date_published | date: '%B' %}

<div class="card">
  <div class="entry">
    <div class="entry-content">
      <h6>{{ item.date_published | date: '%B %d, %Y' }}</h6>
      <h4><a href="https://digital.gov{{ item.url }}">{{ item.title }}</a></h4>
      <p class="summary">{{ item.summary }}</p>
    </div>
    <div class="entry-tools">
      <a href="{{ item.editpathURL }}" class="btn" target="_blank">edit</a>
      {% assign filepath = item.url | url_encode %}
      {% assign editpath = 'https://digital.gov' | append: filepath %}
      <a href="{{ '/edit/?page=' | absURL }}{{ editpath }}" class="btn" target="_blank">details</a>
    </div>
  </div>

  <div class="entry-taxonomy">
    {% for cat in item.categories %}
    <a class="cat-taxonomy taxonomy" href="#" data-slug="{{ cat[0] }}">{{ cat[1] }}</a>
    {% endfor %}
    {% for tag in item.tags %}
    <a class="tag-taxonomy taxonomy" href="#" data-slug="{{ tag[0] }}">{{ tag[1] }}</a>
    {% endfor %}
  </div>
</div>
{% endfor %}
