{% for item in site.data.promos.items %}
<div class="card-wrapper usa-grid">
  <div class="usa-width-five-sixths">
    <article class="card">
      <div class="summary">
        <img src="{{ site.source_of_truth }}/img/promos/{{ item.icon }}">
        <h4><a href="{{ site.source_of_truth }}{{ item.url }}">{{ item.head }}</a></h4>
        <p class="summary">{{ item.summary }}</p>
        <p><a href="{{ item.src }}">{{ item.src }}</a></p>
        <p><strong>Weight:</strong> {{ item.weight }}</p>
      </div>

      {% if item.topics %}
      <div class="taxonomy-list taxonomy-smaller">
        {% for topic in item.topics %}
        <a class="cat-taxonomy taxonomy" href="#" data-slug="{{ topic[0] }}">{{ topic[1] }}</a>
        {% endfor %}
      </div>
      {% endif %}

    </article>
  </div>

  <div class="usa-width-one-sixth">
    <div class="tools">
      <a href="{{ item.editpathURL }}" class="btn" target="_blank">edit</a>
    </div>
  </div>
</div>

{% endfor %}
