<!-- {% for item in site.data.promos.items %}

<div class="grid-row grid-gap margin-bottom-205">

  <div class="tablet:grid-col">
    <div class="bg-base-lightest padding-2 clearfix">

      <div class="float-left">
        <h3 class="margin-top-0 margin-bottom-105"><a href="{{ site.source_of_truth }}{{ item.url }}" class="text-base-darkest underline-primary-light text-underline">{{ item.head }}</a></h3>
        <p class="margin-0">{{ item.summary }}</p>
        <p class="margin-0"><a href="{{ item.src }}">{{ item.src }}</a></p>

        {% if item.topics %}
          <div class="margin-top-2">
            {% for topic in item.topics %}
              <span class="usa-tag">{{ topic[1] }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="float-right">
        <img src="{{ site.source_of_truth }}/img/promos/{{ item.icon }}" class="width-8">
      </div>

    </div>
  </div>

  <div class="tablet:grid-col-auto">
    <a href="{{ item.editpathURL }}" class="usa-button" target="_blank">Edit</a>
  </div>

</div>

{% endfor %} -->
<h2 id="loading">Loading...</h2>
<div id="promos"></div>