.card-wrapper{
  margin-bottom: 1em;
  padding: 0;
}

article{
  .head{
    margin-bottom: 2em;
    h1{
      margin: 0 0 .2em 0;
      font-size: 2em;
    }
    .deck{
      font-size: 1.7em;
      font-weight: 300;
    }
  }
}
.card{
  margin-bottom: 5px;
  padding: 15px;
  border: 1px #efefef solid;
  border-radius: 2px;
  font-size: .85em;
  background: #fff;
  h2,
  h4,
  h6{
    margin: 0;
    a {
      color: $text-color;
      text-decoration: none;
    }
    a:hover {
      color: $text-color;
      text-decoration: underline;
    }
  }
  h2{
    font-size: 1.5em;
  }

}




pre{
  padding: 20px;
  background: #efefef;
  border-radius: 2px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
