.wf_form{
  input,
  textarea{
    max-width: 60rem;
  }
  .wf{

  }
  .wf_title{
    font-size: 1.3em;
    font-weight: 800;
  }
}

.step {
  margin-bottom: 2.5em;
  padding: .5em 0;
  border-top: 2px #000 solid;
  font-size: 21px;
  h2{
    margin: 0 0 1em 0;
    font-size: 24px;
  }
  strong{
    // color: #5700BF;
  }

}
