.entry-tools{
  width: 12%;

  .btn{
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 2px;
    background: #0057ff;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
  }
}
