.tools{
  .btn{
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 2px;
    background: #5740d1;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }
  .btn-open{
    background: #fff;
    border:2px #5740d1 solid;
    color: #5740d1;
  }
}
