.entry{
  margin: 0;
  display: flex;
  flex-direction: row;
}

.entry-content{
  padding-right: 15em;
  width: 88%;
  h2{
    margin: 0 0 5px 0;
    a{
      color: $text-color;
    }
  }
  h6{
    margin: 0 0 5px 0;
  }
  h4{
    margin: 0 0 5px 0;
    a{
      color: $text-color;
    }
  }
  p{
    margin-top: 0;
  }
}


pre{
  padding: 20px;
  background: #efefef;
  border-radius: 2px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
