#sidenav{
  padding: 0;
  .collection{
    margin-bottom: 35px;
    padding-top: 5px;
    border-top: 1px $text-color solid;
    span{
      margin-bottom: .2em;
      text-transform: uppercase;
      font-size: 12px;
      display: block;
    }
  }
  ul{
    margin-top: 0.5em;
    padding: 0;
  }
  li{
    margin-bottom: .2em;
    font-size: 14px;
    list-style-type: none;
    a{
      text-decoration: none;
      color: $text-color;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}
