#sidenav * {
  font-size: 14px !important;
}
#sidenav,
#sidenav ul{
  padding: 0;
}

#sidenav li{
  list-style-type: none;
}

#sidenav .collection{
  margin-bottom: 35px;
  padding-top: 5px;
  border-top: 1px $text-color solid;
}
#sidenav .collection span{
  text-transform: uppercase;
}
#sidenav li a{
  text-decoration: none;
  color: $text-color;
}
