.entry-taxonomy{
  width: 88%;
  .taxonomy{
    padding: 2px 5px;
    font-size: 13px;
    margin-bottom: 3px;
  }
}

.taxonomy{
  padding: 5px 8px;
  background: rgba(255, 171, 171, .5);
  text-decoration: none;
  color: #343434;
  border-radius: 2px;
  display: inline-block;
}
.taxonomy:hover{
  background: rgba(255, 171, 171, 1);
}
.tag-taxonomy{
  background: rgba(255, 205, 107, .5);
}
.tag-taxonomy:hover{
  background: rgba(255, 205, 107, 1);
}
