<div id="branch-input">
  <h3>Selct one of the available publishing cycles:</h3>

  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">Historical figures 2</legend>
    <ul class="usa-input-list">
      <li>
        <input class="usa-radio-input" id="dec-10-spotlight" type="radio" checked name="branch-input" value="dec-10-spotlight">
        <label class="usa-radio-label" for="dec-10-spotlight">Dec 10 Spotlight</label>
      </li>
      <li>
        <input class="usa-radio-input" id="dec-17-spotlight" type="radio" name="branch-input" value="dec-17-spotlight">
        <label class="usa-radio-label" for="dec-17-spotlight">Dec 17 Spotlight</label>
      </li>
    </ul>
  </fieldset>
  <p class="margin-y-05 font-sans-xs text-base-dark">We publish Spotlight every Monday @ 9am. Read more about our publishing cycles.</p>
</div>
