<div id="event_type">
  <h3>What type of event will this be?</h3>
  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">What type of event will this be?</legend>
    <ul class="usa-input-list">
      <li>
        <input class="usa-checkbox-input" id="event-online" type="checkbox" name="event_type" value="event-online">
        <label class="usa-checkbox-label" for="event-online">Online</label>
      </li>
      <li>
        <input class="usa-checkbox-input" id="event-in-person" type="checkbox" name="event_type" value="event-in-person">
        <label class="usa-checkbox-label" for="event-in-person">In Person</label>
      </li>
    </ul>
  </fieldset>
</div>
