<div id="event_platform" class="online display-none">
  <h3>What platform will be used for online attendees?</h3>
  <fieldset class="usa-fieldset">
    <legend class="usa-sr-only">What platform will be used for online attendees?</legend>
    <ul class="usa-input-list">
      <li>
        <input class="usa-radio-input" id="event_platform_youtube" type="radio" name="event_platform" value="event_platform_youtube">
        <label class="usa-radio-label" for="event_platform_youtube">YouTube LIVE</label>
      </li>
      <li>
        <input class="usa-radio-input" id="event_platform_zoom" type="radio" name="event_platform" value="event_platform_zoom">
        <label class="usa-radio-label" for="event_platform_zoom">Zoom</label>
      </li>
      <li>
        <input class="usa-radio-input" id="event_platform_adobe_connect" type="radio" name="event_platform" value="event_platform_adobe_connect">
        <label class="usa-radio-label" for="event_platform_adobe_connect">Adobe Connect</label>
      </li>
    </ul>
  </fieldset>
</div>
