<div id="block-{{ include.id }}" class="block">
  <label class="usa-label font-sans-sm text-semibold" for="block-{{ include.id }}">
    {{ include.name }}
  </label>
  <select class="usa-select margin-top-1 width-10 radius-sm" data-block="{{ include.id }}" data-block-data_type="{{ include.data_type }}" data-block-comment="{{ include.comment }}">
    <option value=""></option>
    {% for i in (0..3) %}
    <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
  </select>
  <p class="margin-y-05 font-sans-2xs text-base-dark">{{ include.text }}</p>
</div>
