<div class="block block-{{ include.id }} margin-top-4">
  <label class="usa-label font-sans-sm text-semibold" for="block-{{ include.id }}">
    {{ include.name }}
  </label>
  <textarea autocomplete="nope" class="usa-textarea height-10 radius-sm maxw-none {{ include.class }}" name="block-{{ include.id }}" data-block="{{ include.id }}" data-block-data_type="{{ include.data_type }}" data-block-comment="{{ include.comment }}"></textarea>
  <p class="margin-y-05 font-sans-2xs text-base-dark">{{ include.text }}</p>
</div>
