<div id="venue-room-input" class="venue display-none">
  <h3>Venue</h3>
  <label class="usa-label" for="venue-room-input">
    Room #
  </label>
  <input class="usa-input" type="text" name="venue-room-input" value="">
</div>

<div id="venue-venue-input" class="venue display-none">
  <label class="usa-label" for="venue-venue-input">
    Venue
  </label>
  <input class="usa-input" type="text" name="venue-venue-input" value="U.S. General Services Administration">
</div>

<div id="venue-address-input" class="venue display-none">
  <label class="usa-label" for="venue-address-input">
    Address
  </label>
  <input class="usa-input" type="text" name="venue-address-input" value="1800 F Street N">
</div>

<div id="venue-city-input" class="venue display-none">
  <label class="usa-label" for="venue-city-input">
    City
  </label>
  <input class="usa-input" type="text" name="venue-city-input" value="Washington">
</div>

<div id="venue-state-input" class="venue display-none">
  <label class="usa-label" for="venue-state-input">
    State
  </label>
  <input class="usa-input" type="text" name="venue-state-input" value="D.C.">
</div>

<div id="venue-zip-input" class="venue display-none">
  <label class="usa-label" for="venue-zip-input">
    Zip
  </label>
  <input class="usa-input" type="text" name="venue-zip-input" value="20405">
</div>

<div id="venue-country-input" class="venue display-none">
  <label class="usa-label" for="venue-country-input">
    Country
  </label>
  <input class="usa-input" type="text" name="venue-country-input" value="USA">
</div>

<div id="venue-map-input" class="venue display-none">
  <label class="usa-label" for="venue-map-input">
    Google Map URL
  </label>
  <input class="usa-input" type="text" name="venue-map-input" value="https://goo.gl/maps/bFWBD6QfDLA2">
</div>
