---
layout: default
---


<main id="main-content" class="bg-base-lightest padding-y-3">
  <div class="grid-container grid-container-desktop-lg ">
    <div class="grid-row grid-gap-4">

      <div class="grid-col-12 tablet:grid-col-5">
        <section class="margin-bottom-3">
          {% if page.api %}<h5 class="margin-0 margin-bottom-1 font-sans-xs text-medium"><a class="padding-y-05 padding-x-1 text-no-underline radius-sm border-primary border-width-1px border-solid display-inline-block" href="/content-types/"><i class="fas fa-arrow-left"></i> All Content Types</a></h5>{% endif %}
          <h1 class="margin-0 font-sans-3xl text-thin">{{ page.title | escape }}</h1>
          <p>Live: <a href="{{ site.source_of_truth }}{{ page.source_path }}" title="Go to {{ site.source_of_truth }}{{ page.source_path }}">{{ site.source_of_truth }}{{ page.source_path }}</a> </p>
          {% if page.api %}
          <a href="{{ site.baseurl }}/new{{ page.url | slice: 0, size }}" class="margin-top-1 padding-x-105 padding-y-05 bg-primary radius-md text-white text-no-underline display-inline-block">New</a>
          {% endif %}
          <div class="margin-y-5 font-sans-lg text-light">
            {{ content }}
          </div>

        </section>
      </div>

      <div class="grid-col-12 tablet:grid-col-7">

        {% if page.api %}
        <section class="card-list" data-api="{{ page.api }}">
          <h2>All {{page.api}}</h2>
        </section>
        {% else %}
        <section class="content_types-list">

        </section>
        {% endif %}

      </div>

    </div>

  </div>
</main>
