<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  {% if page.background %}
    {% assign background = page.background %}
  {% else %}
    {% assign background = "bg-base-lightest" %}
  {% endif %}

  <!-- Page Theme Settings -->
  {% if page.theme == "dark" %}
    {% assign text-color = "text-white visited:text-white" %}
    {% assign logo_file = "digit-75-white.png" %}
  {% else %}
    {% assign text-color = "text-black visited:text-black" %}
    {% assign logo_file = "digit-75.png" %}
  {% endif %}

  <body class="bg-primary-vivid">

    <div class="paper {{ background }} {{ text-color }}">
      <a class="usa-skipnav" href="#main-content">Skip to main content</a>

      {% include header.html %}

      {{ content }}

      {% include footer.html %}
    </div> <!-- end paper -->

  </body>
</html>
