<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}

<body class="bg-primary-vivid">

  <div class="paper bg-white height-auto">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    {% include header.html %}

    <main id="main-content" class="padding-y-5">
      <div class="grid-container">
        <div class="grid-row grid-gap-4">

          <div class="grid-col-12 tablet:grid-col-2">
            {% include nav-docs.html %}
            {% include nav-editor.html %}
          </div>

          <div class="grid-col-12 tablet:grid-col-10">
            {{ content }}
          </div>
        </div>
      </div>
    </main>


    {% include footer.html %}
  </div>

</body>

</html>
