---
layout: default
---

<main id="main-content" class="padding-y-3">
  <div class="grid-container">
    <div class="grid-row grid-gap-6">

      <div class="grid-col-12 tablet:grid-col-2">
        {% include navigation.html %}
        {% include content_nav.html %}
      </div>

      <div class="grid-col-12 tablet:grid-col-8">
        <article>

          <header class="margin-bottom-5">
            <h1 class="margin-0 margin-bottom-2 text-heavy font-sans-2xl">{{ page.title | escape }}</h1>
            {% if page.deck %}
            <div class="text-light font-sans-xl">{{ page.deck | escape }}</div>
            {% endif %}
          </header>

          <section class="">
            {{ content }}
          </section>

        </article>

      </div>

    </div>

  </div>
</main>
