---
layout: default
---


<main id="main-content" class="padding-y-3">
  <div class="grid-container grid-container-widescreen">
    <article class="">

      <div class="grid-row grid-gap-4">
        <div class="grid-col-12 tablet:grid-col-6 tablet:grid-offset-3">
          <header class="margin-bottom-3">
            <h1 class="margin-0 text-heavy font-sans-3xl">{{ page.title | escape }}</h1>
            {% if page.deck %}
            <div class="deck">{{ page.deck | escape }}</div>
            {% endif %}
          </header>
        </div>
      </div>

      <div class="grid-row grid-gap-4">
        <div class="grid-col-12 tablet:grid-col-6 tablet:grid-offset-3">
          <section>
            {{ content }}
          </section>
        </div>
      </div>

    </article>
  </div>
</main>
