---
layout: default
---

{% include sidenav.html %}

<div class="usa-width-five-sixths usa-layout-docs-main_content">

  <article>
    <div class="head">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </div>
    <div class="content">
      {{ content }}
    </div>
  <article>

  <div class="topic_search">
    <input id="topic_search" type="text" name="" value="">
  </div>


  <div class="step">
    <h2>#3 Publish the changes</h2>
    <pre id="topics_front_matter"></pre>
    <a href="#" class="btn btn-copy" data-clipboard-target="#topics_front_matter">Copy</a>
  </div>



</div>
