---
layout: default
---

<header class="margin-bottom-2">
  {% if page.content_type %}
  <a class="display-block margin-bottom-2 text-no-underline text-bold" href="/{{ page.content_type | absURL }}"><i class="fas fa-arrow-left"></i> All {{ page.content_type }}</a>
  {% endif %}
  <h1 class="margin-0 text-heavy font-sans-2xl">{{ page.title | escape }}</h1>
  {% if page.deck %}
  <div class="text-thin font-sans-xl">{{ page.deck | escape }}</div>
  {% endif %}
</header>

<div class="grid-row grid-gap-4">
  <div class="grid-col-12 tablet:grid-col-8">
    <div class="text-normal font-sans-md margin-bottom-2">
      {{ content }}
    </div>
  </div>
</div>

<div class="grid-row grid-gap-4">

  <div class="grid-col-12 tablet:grid-col-6">

    {% include editor/preview-links.html %}

    {% include form-builder.html %}

  </div>

  <div class="grid-col-12 tablet:grid-col-6">

    {% include editor/preview-card.html %}

    {% include editor/preview-seo.html %}

    {% include editor/preview-front-matter.html %}

    {% include editor/buttons.html %}

  </div>

</div>
