<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="bg-primary-vivid">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    <div class="paper bg-base-lightest height-viewport">

      <main id="main-content" class="padding-y-5">
        <div class="grid-container grid-container-mobile-lg">
          <div class="grid-row grid-gap-4">
            <div class="grid-col-12">
              <section class="margin-top-9">
                <img class="width-8 margin-x-auto margin-top-9 display-block" src="{{ site.baseurl }}/assets/img/digit-150.png" alt="{{ site.title }}">
                <h1 class="usa-logo-text text-center text-bold font-sans-xl margin-top-2">
                  <a class="text-no-underline text-base-darkest visited:text-base-darkest" href="{{ site.baseurl }}" accesskey="1" title="Home" aria-label="{{ site.title }}">
                    Digital.gov / Workflow
                  </a>
                </h1>
                <h2 class="text-center text-light">We work on our content in the open. Feel free to explore.</h2>
              </section>
            </div>
          </div>
          <div class="grid-row grid-gap-4">
            <div class="grid-col-8 grid-offset-2">
              {% include docs-nav.html %}
              {% include edit-nav.html %}
            </div>
          </div>
        </div>
      </main>

    </div> <!-- end paper -->


    {% include footer.html %}

  </body>
</html>
