<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="bg-primary-vivid">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    <div class="paper bg-base-lightest height-auto">

      {% include header.html %}

      <main id="main-content" class="">
        <div class="grid-container">
          <div class="grid-row grid-gap-4">
            <div class="grid-col-12">

              <section class="">

                {% include navigation.html %}

                <div id="commits">

                </div>

              </section>
            </div>
          </div>
        </div>
      </main>

    </div> <!-- end paper -->


    {% include footer.html %}

  </body>
</html>
