---
layout: default
---


<main id="main-content" class="bg-primary-darker padding-y-3">
  <div class="grid-container grid-container-desktop-lg ">

    <div class="grid-row grid-gap-4">

      <div class="grid-col-12 tablet:grid-col-6">

        <header class="margin-bottom-2">
          <h1 class="margin-0 text-thin text-white font-sans-2xl">{{ page.title | escape }}</h1>
          {% if page.deck %}
          <div class="text-thin text-white font-sans-xl">{{ page.deck | escape }}</div>
          {% endif %}
        </header>

        <div class="text-white text-thin font-sans-lg margin-bottom-2">
          {{ .content }}
        </div>
        <form id="matter-maker" class="margin-y-05 bg-base-lighter padding-y-2px padding-x-3" accept-charset="utf-8">


          <h3>What type of a Spotlight item will this be?</h3>

          <div id="spotlight_type">
            <p><input type="radio" name="spotlight_type" value="post">This will be a blog post on Digital.gov (Here is an example)</p>
            <p><input type="radio" name="spotlight_type" value="refer">This will spotlight a page on Digital.gov (e.g guide, resouce page, blog post from the archive, community page, service, etc...)</p>
            <p><input type="radio" name="spotlight_type" value="elsewhere">This will spotlight a page on a separate website/URL</p>
          </div>

          <div id="sources_select">
            <label class="usa-label" for="source-input">
              Source
            </label>
            <select class="usa-select margin-top-1"></select>
            <p class="margin-y-05 font-sans-xs text-base-dark">Where will this be published?</p>
          </div>

          <div id="source_url">
            <label class="usa-label" for="source_url-input">
              Source URL
            </label>
            <input class="usa-input" name="source_url-input">
          </div>

          <div id="headline-input">
            <label class="usa-label" for="headline-input">
              Headline
            </label>
            <input class="usa-input" name="headline-input">
            <p class="margin-y-05 font-sans-xs text-base-dark">The headline should be...</p>
          </div>


          <div id="deck-input">
            <label class="usa-label" for="deck-input">
              Deck
            </label>
            <textarea class="usa-textarea" name="deck-input"></textarea>
            <p class="margin-y-05 font-sans-xs text-base-dark">The deck should be...</p>
          </div>


          <div id="summary-input">
            <label class="usa-label" for="summary-input">
              Summary
            </label>
            <textarea class="usa-textarea" name="summary-input"></textarea>
            <p class="margin-y-05 font-sans-xs text-base-dark">The summary should be...</p>
          </div>

          <div id="topic_select">
            <label class="usa-label" for="topic_select">
              Topics
            </label>
            <select multiple="multiple" class="usa-select"></select>
            <p class="margin-y-05 font-sans-2xs text-base-dark"><em>Select the 2-3 topics that best fit</em></p>
          </div>

          <div id="people_select">
            <label class="usa-label" for="people_select">
              Authors
            </label>
            <select multiple="multiple" class="usa-select"></select>
            <p class="margin-y-05 font-sans-2xs text-base-dark"><em>Select the people who've contributed to this. Don't see the person you're looking for? <a target="_new" href="https://github.com/GSA/digitalgov.gov/tree/demo/data/people/authors" title="Add a new contributor">Add a contributor</a></em></p>
          </div>

          <div id="date-input">
            <label class="usa-label" for="date-input">
              Publish Date
            </label>
            <input class="usa-input" type="text" name="date-input">
            <p class="margin-y-05 font-sans-2xs text-base-dark"><em>year-mo-day, (e.g 2018-09-29)</em></p>
          </div>

          <div id="time-input">
            <label class="usa-label" for="time-input">
              Time
            </label>
            <input class="usa-input" type="text" name="time-input">
            <p class="margin-y-05 font-sans-2xs text-base-dark"><em>24-hour time, e.g. 15:32</em></p>
          </div>
        </form>
      </div>

      <div class="grid-col-12 tablet:grid-col-6">

        <p class="margin-bottom-105 font-sans-md text-white text-light line-height-sans-3"><strong>Spotlight Preview</strong> — How this page will likely look in Spotlight</p>
        <article class="bg-base-lighter radius-sm margin-0 margin-bottom-5 padding-2">
          <p class="font-sans-md">Federal agencies and technology teams work together to pilot digital tools for artificial intelligence and health innovation.</p>
          <div class="flex-row display-flex flex-align-end flex-justify">
            <p class=""><a class="text-no-underline text-ink visited:text-ink" href="" title="Digital.gov"><img class="width-2 margin-right-05 position-relative top-2px" src="https://demo.digital.gov/img/digit-16.png" alt="Digital.gov Logo">Digital.gov</a>
              <em class="clicks text-accent-warm-dark font-sans-2xs margin-x-1"><i class="fas fa-bolt"></i> <span>99</span> views</em>
            </p>
            <div class="topics">
              <a class="text-primary-darker display-inline-block margin-x-2px text-no-underline bg-primary-light font-sans-3xs padding-y-2px padding-x-1 radius-pill" href="/topics/design/" data-topic="design">Design</a><a class="text-primary-darker display-inline-block margin-x-2px text-no-underline bg-primary-light font-sans-3xs padding-y-2px padding-x-1 radius-pill" href="/topics/open-data/" data-topic="open-data">Open Data</a>
            </div>
          </div>
          <a href="/2018/11/02/health-tech-sprint-aims-at-improving-care-access-experience/" title="Health Tech Sprint Aims at Improving Care Access and Experience"><span></span></a>
        </article>

        <p class="margin-bottom-105 font-sans-md text-white text-light line-height-sans-3"><strong>SEO Preview</strong> — How this page will likely look in Google</p>
        <style media="screen">
          .seo-preview{font-family: arial, sans-serif;}
          .seo-preview h3{color: #1a0dab;}
          .seo-preview .url{color: #006621;}
          .seo-preview .summary{color: #545454;}
        </style>
        <section class="seo-preview bg-white margin-0 margin-bottom-5 padding-2">
          <h3 class="margin-0 text-normal">Come say Hi! — Digital.gov</h3>
          <p class="url line-height-sans-3 margin-0 margin-bottom-2px text-normal font-sans-xs">https://digital.gov/hi</p>
          <p class="summary margin-0 text-normal font-sans-2xs line-height-sans-2">Hi. We are helping the government community make digital better. Come and learn more about...</p>
        </section>

        <p class="margin-bottom-105 font-sans-md text-white text-light line-height-sans-3"><strong>Front Matter Preview</strong> — This is the additional data <em>(a.k.a. front-matter)</em> that will help build this page in digital.gov</p>
        <section>
          <pre id="filename" class="text-bold bg-white padding-2">***</pre>
          <pre id="post-matter" class="bg-white padding-2">---</pre>

          <a id="newfile" href=""
            target="_new" title="Create a new post in GitHub" class="usa-button margin-bottom-1" style="width:100%;">Create
            in GitHub »</a>
          <a href="https://github.com/GSA/digitalgov.gov/wiki" class="usa-button usa-button-outline" style="width:100%;">A
            guide to
            publishing in GitHub</a>
        </section>

      </div>

    </div>
  </div>
</main>
