---
layout: default
---

<header class="margin-bottom-2">
  {% if page.content_type %}
  <a class="display-block margin-bottom-2 text-no-underline text-bold" href="/{{ page.content_type | absURL }}"><i class="fas fa-arrow-left"></i> All {{ page.content_type }}</a>
  {% endif %}
  <h1 class="margin-0 text-heavy font-sans-2xl">{{ page.title | escape }}</h1>
  {% if page.deck %}
  <div class="text-thin font-sans-xl">{{ page.deck | escape }}</div>
  {% endif %}
</header>


<div class="grid-row grid-gap-4">
  <div class="grid-col-12 tablet:grid-col-6">
    <section class="newsletter-list bg-base-lighter margin-bottom-5 padding-2" data-api="posts">
      <h2 class="margin-y-0 font-sans-md">Recent News and Updates</h2>
        <ul class="padding-left-205 font-sans-sm">
        </ul>
    </section>

    <section class="newsletter-list bg-base-lighter padding-2" data-api="events">
      <h2 class="margin-y-0 font-sans-md">Upcoming events and training</h2>
      <div id="list-box" class="font-sans-sm">

      </div>
    </section>
  </div>

  <div class="grid-col-12 tablet:grid-col-6">
    <p><a href="#" class="btn-copy padding-x-1 padding-y-05 text-no-underline radius-sm border-primary border-width-1px border-solid display-inline" data-clipboard-target="#post-matter">Copy</a> the text below.</p>
    <section>

      <pre id="post-matter" class="bg-white padding-2 border-1px border-base"></pre>

    </section>

  </div>
</div>
