---
layout: default
---

<section class="margin-bottom-3">
  <h1 class="margin-0 font-sans-2xl text-heavy">{{ page.title | escape }}</h1>
  <p>Live: <a href="{{ site.source_of_truth }}{{ page.source_path }}" title="Go to {{ site.source_of_truth }}{{ page.source_path }}">{{ site.source_of_truth }}{{ page.source_path }}</a> </p>
  {% if page.api %}
  <p><a href="{{ site.baseurl }}/new/{{ page.api }}" class="margin-top-1 padding-x-105 padding-y-05 bg-primary radius-md text-white visited:text-white text-no-underline display-inline-block">New</a></p>
  {% endif %}
  <div class="margin-y-5 font-sans-md text-light">
    {{ content }}
  </div>

</section>

<section class="newsletter-list bg-base-light margin-bottom-5 padding-2" data-api="posts">

</section>

<section class="newsletter-list newsletter-code bg-base-lighter padding-2" data-api="posts">
  <pre></pre>
</section>
