---
layout: default
---

{% include sidenav.html %}

<div class="usa-width-five-sixths usa-layout-docs-main_content">

  <h1 class="post-title">{{ page.title | escape }}</h1>
  {% if page.deck %}
  <div class="deck">{{ page.deck | escape }}</div>
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>

  {% if page.list == 'posts' %}
    {% include posts.html %}
  {% endif %}

  {% if page.list == 'tags' %}
    {% include tags.html %}
  {% endif %}

  {% if page.list == 'categories' %}
    {% include categories.html %}
  {% endif %}


  {% if page.git-label %}
  <div class="issues" data-tag="{{ page.git-label | escape }}"></div>
  {% endif %}

  {% if page.git-label %}
  <div class="issues" data-tag="{{ page.git-label | escape }}"></div>
  {% endif %}



</div>
