---
layout: default
---

<header class="margin-bottom-3">
  <h1 class="margin-0 text-light">{{ page.title | escape }}</h1>
  {% if page.deck %}
  <div class="deck">{{ page.deck | escape }}</div>
  {% endif %}
  {% if page.url == '/posts/' %}
  {% assign size = page.url | size | minus: 2 %}
  <a href="{{ site.baseurl }}/new{{ page.url | slice: 0, size }}" class="usa-button margin-top-3">New</a>
  {% endif %}
</header>
<section class="article-list" data-api="{{ page.api }}">
  <article class="margin-bottom-105">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12 tablet:grid-col-8">
        <header class="bg-white padding-2 radius-sm">
          <h3 class="margin-0 margin-bottom-1">
            <a class="text-no-underline" href="/event/2018/09/27/a-conversation-with-evan-papp/" title="A Conversation with Evan Papp of Power Africa">A Conversation with Evan Papp of Power Africa</a>
          </h3>
          <p class="margin-0 font-sans-2xs">Evan Papp will talk about a video and story he produced while traveling internationally in Africa.</p>
          <p class="font-sans-3xs">
            <span class="bg-gray-5 padding-x-1 padding-y-1px radius-pill bg-primary-lighter">Audio/Video</span> <span class="bg-gray-5 padding-x-1 padding-y-1px radius-pill bg-primary-lighter">Video</span>
          </p>
        </header>
      </div>
      <div class="grid-col-12 tablet:grid-col-4">
        button
      </div>
    </div>
  </article>
  {{ content }}
</section>
